:root {
    --rojo: #e50914;
    --fondo: #141414;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: "Open Sans", sans-serif;

}

.contenedor {
    width: 90%;
    margin-inline: auto;
}

header {
    padding: 30px 0;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {
    font-family: "Chiron Sung HK", serif;
    font-weight: normal;
    color: var(--rojo);
    font-size: 40pix;
}

header nav a {
    color: blanchedalmond;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
    color: red;
}

/* ---------- contenedores -------------*/

.accion-y-aventura {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    position: relative;
}

.Nuevos-lanzamientos {
    margin-bottom: 70px;
    align-items: center;
    position: relative;
}

.Thrillers {
    margin-bottom: 70px;
    align-items: center;
    position: relative;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.titulo h2 {
    color: blanchedalmond;
    font-size: 30px;

}

.titulo .indicadores button {
    background: white;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.titulo .indicadores button:hover,
.titulo .indicadores button.activo {
    background: #e50914;
}

main .carrusel {
    display: flex;
    justify-content: space-between;
}